@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

:root {
    --blanco: #ffffff;
    --primario: #114cab;
    --oscuro: #212121;

    --fuente_principal: 'Lato', sans-serif;
}

/* Globales */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuente_principal);
    font-size: 1.6rem;
    line-height: 1.8;
    margin: 0 2;
}
p {
    color: black;
    font-size: 2rem;
}

/* Header */
.nav-bg {
    background-color: var(--primario);
}
.navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width:768px) {
    .navegacion {
        flex-direction: row;
        justify-content: space-between;
    }
}
.navegacion a{
    padding: 1rem 2rem;
    color: var(--blanco);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
}
.navegacion a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}
.navegacion a:last-of-type {
    margin-bottom:0;
}
@media (min-width:768px) {
    .navegacion a{
        margin-bottom: 0;
    }
}
/* main */
.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}
.seccion {
    margin-top: 5rem / 2;
    margin-bottom: 5rem / 2;
}
.contenido-centrado {
    max-width: 80rem;
}

a {
    text-decoration: none;
}

img,
picture {
    width: 100%;
    display: block;
}

h1, h2, h3 {
    font-family: var(--fuente_principal);
    margin:  5rem / 2 0;
    font-weight: 300;
    text-align: center;
    font-weight: bold;
}

h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 3.4rem;
}
/* Formulario */

p .formulario {
    font-size: 1.4rem;
    color: grey;
    margin: 2rem 0 0 0;
}

legend {
    font-size: 2rem;
    color: gris;
}

label {
    font-weight: bold;
    text-transform: uppercase;
    display: block;
}
input:not([type="submit"]), 
textarea,
select {
    padding: 1rem;
    display: block;
    width: 100%;
    background-color: white;
    border: 1px solid grey;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

textarea {
    height: 20rem;
}

.forma-contacto {
    max-width: 30rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
input[type="radio"] {
    margin: 0;
    width: auto;
}
.imagen-contacto {
    background-position: center center;
    background-size: cover;
    padding: 5rem * 2 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.boton {
background-color: var(--primario);
color: var(--blanco);
font-weight: bold;
text-decoration: none;
padding: 1rem 3rem;
text-align: center;
margin-top: 3rem;
border: none;
}

.boton:hover{
    cursor: pointer;
    background-color: var(--oscuro);
}
